html, body{
	margin: 0;
	padding: 0;
}

.parent-container{
	margin: 0 auto;
}

input[type="text"]{
	display: block;
}

@media screen and (min-width: 1024) and (max-width: 1599px){
	
}

@media screen and (min-width: 1600){
	
}



.flex-container {
	display: -webkit-flex; 
	display: flex; /*отображает контейнер как блочный элемент*/
	justify-content: space-around;
	width: 100%;
}
.flex-container {
 	display: -webkit-inline-flex;
 	display: inline-flex; /*отображает контейнер как строчный элемент*/
}